.balance-header{
    -fx-text-fill: #1c2b34;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.balance-label{
    -fx-text-fill: #6d7483;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.money-lost-label{
    -fx-text-fill: #ff2a43;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.money-won-label{
    -fx-text-fill: #007875;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.button{
    -fx-background-color: white;
}
